@charset "utf-8";

/* font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@font-face {
    font-family: 'NEXEN TIRE';
    src: url('../font/NEXEN_TIRE_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* color */
:root {
    --companyColor : #3C77CF;
}

/* reset */
* {margin: 0;padding: 0;}

a {text-decoration: none;}
li {list-style: none;}
p, span, a, h1, h2, h3, h4, h5, h6, td, th {color:#000;font-family: 'pretendard';}

/* ----------------------------------------
                회원가입 과정임
    --------------------------------------- */
#wrap .join1,
#wrap .join2,
#wrap .join3,
#wrap .join4 
{
    width: 1341px;
    margin: 0 auto;
    z-index: 10;
    display: none;
}
#wrap .join1.active,
#wrap .join2.active,
#wrap .join3.active,
#wrap .join4.active {
    display: block;
}
#wrap .join_process .active {
    border-bottom: 6px solid #333;
}
#wrap .join_process .active p {
    color: #000 !important;
}

#wrap header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(60, 119, 207, 0.1);
}

/* ====================
    header
====================*/

.headerInner {
    width: 1920px; height: 96px;
    display: flex;
    margin: 0 auto;
}

.headerIcon_container {
    width: 1342px; height: 96px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    padding-top: 25px;
    box-sizing: border-box;
}

.left_icon button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.left_icon p {
    float: right;
    font-size: 25px;
    line-height: 40px;
    margin-left: 20px;
    color: var(--companyColor);
}

/* side-side-bar */
.side-bar {
    width: 358px;
    height: 1080px;
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-358px);
}

.side-bar.active {
    transform: translateX(0); /*사이드바가 화면에 나타남*/
}

.side-bar-header {
    height: 100px;
}

#side-closeToggle{
    width: 40px; height: 40px;
    position: absolute;
    top: 15px;
    right: 28px;
    padding-top: 5px;
}

.mainMenu {
    margin: 0 0 0 46px;
}
.mainMenu li>a {
    width: 268px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}
.mainMenu li>a .title{
    font-size: 28px;
    letter-spacing: -2px;
    display: flex;
    gap: 10px;
}

.subMenu {
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

/* 서브메뉴가 열릴 때 */
.accordion-item.active .subMenu {
    display: block;
}

.subMenu li>a {
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    background-color: rgba(60, 119, 207, 0.2);
    padding: 18px 0 18px 50px;
    width: 268px;
    box-sizing: border-box;
}

.subMenu li a:hover {
    background-color: #2c6dcd;
    color: #fff;
}

.subside-bar li>a img {
    width: 24px;
}

.headerIcon_container .logo {
    position: absolute;
    top: 50%;
    padding-top: 5px;
    left: 50%;
    transform: translate(-50%, -50%); /* 요소 크기의 절반만큼 이동 */
}

.headerIcon_container .logo img {
    height: 70px;
}

.right_icon {
    display: flex;
}

.headerInfo {
    display: flex;
    gap: 15px;
}

.mypage {
    display: flex;
    gap: 8px;
}

.mypage img {
    width: 41px;
    height: 41px;
    padding-top: 5px;
}

.money {
    font-size: 24px;
    line-height: 41px;
    color: var(--companyColor);
    display: flex;
    gap: 5px;
    padding-top: 5px;
}

.money span {
    color: var(--companyColor);
}

.bell {
    color: #223E94;
    padding-top: 8px;
    position: relative;
}
.bell .noticePopup {
    display: none;
}
.bell:hover .noticePopup,
.bell:focus .noticePopup {
    position: absolute;
    top: 42px;right: -44px;
    display: block;
}

.log {
    display: flex;
    background-color: var(--companyColor);
    border-radius: 10px;
    width: 92px;
    height: 36px;
    justify-content: center;
    align-items: center;
    padding: 8px 11px;
}

.log a {
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
}


/* ====================
    main
====================*/
button {
    cursor: pointer;
}

#wrap .join_title {
    width: 398px;
    height: 120px;
    margin: 0 auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-size: 60px;
    font-family: 'NEXEN TIRE', sans-serif;
    text-align: center;
    line-height: 120px;
    margin-top: 121px;
}
#wrap .join_process {
    width: 1341px;
    height: 99px;
    margin: 0 auto;
    display: flex;
    margin-top: 32px;
}
#wrap .join_process div {
    width: 25%;
    height: 99px;
    border-bottom: 6px solid #ccc;
    text-align: center;
    align-items: center;
}
#wrap .join_process div p:nth-of-type(1) {
    padding-top: 17px;
    font-size: 20px;
    font-weight: bold;
    color: #666;
}
#wrap .join_process div p:nth-of-type(2) {
    font-size: 32px;
    font-weight: bold;
    color: #666;
}
#wrap .join1 {
    width: 1149px;
    height: auto;
    margin: 0 auto;
    font-size: 32px;
}
#wrap .join1 .must {
    position: relative;
    width: 1149px;
    height: 362px;
    margin-top: 50px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
#wrap .join1 .terms_set {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#wrap .join1 .terms_set p {
    position: absolute;
    margin-left: 30px;
}
#wrap .join1 .terms_set .terms {
    position: relative;
    width: 662px;
    height: 69px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    margin-left: 139px;
}
#wrap .join1 .terms_set .terms span {
    padding-left: 50px;
}
#wrap .join1 .terms_set .terms img {
    position: absolute;
    right: 45px;
}
#wrap .join1 .terms_set .checkbox {
    padding-left: 50px;
}
#wrap .join1 .must .must_agree {
    margin: 25px 43px 0 0;
    float: right;
}
#wrap .join1 .must .must_agree .checkbox {
    display: flex;
    align-items: center;
}
#wrap .join1 .checkbox img {
    cursor: pointer;
}
#wrap .join1 .must .must_agree span {
    padding-left: 24px;
}
#wrap .join1 .choice .terms_set {
    margin-top: 40px;
}
#wrap .join1 .choice .terms_set .checkbox {
    display: flex;
    align-items: center;
    font-size: 28px;
}
#wrap .join1 .choice .terms_set .checkbox span:nth-of-type(2) {
    padding-left: 30px;
}
#wrap .join1 .choice .terms_set .checkbox img {
    margin-left: 7px;
}

/* 이전, 다음 버튼 */
#wrap .prev_next {
    width: 569px;
    height: 90px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 50px;
}
#wrap .prev_next .prev,
#wrap .prev_next .next {
    width: 250px;
    height: 90px;
    border-radius: 10px;
    text-align: center;
    line-height: 90px;
    font-size: 40px;
    cursor: pointer;
}
#wrap .prev_next .prev {
    border: 3px solid var(--companyColor);
    box-sizing: border-box;
    color: var(--companyColor);
    font-weight: 600;
}
#wrap .prev_next .next {
    background: var(--companyColor);
    color: #fff;
    font-weight: bold;
}
#wrap .join3 .prev_next {
    position: relative;
    width: 569px;
    height: 140px;
    left: -312px;
    bottom: -48px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#wrap .join3 .prev_next .prev {
    position: relative;
}
#wrap .join3 .prev_next .next {
    position: relative;
}
#wrap .join4 .prev_next {
    width: 926px;
}
#wrap .join4 .prev_next .prev {
    width: 393px;
    font-size: 36px;
}
#wrap .join4 .prev_next .next {
    width: 483px;
    font-size: 36px;
}

#wrap .join2 {
    position: relative;
    width: 1142px;
    height: auto;
    margin: 0 auto;
}
#wrap .join2>p {
    margin: 50px 0 40px 0;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}
#wrap .join2 .method {
    width: 385px;
    height: 385px;
    display: flex;
    flex-wrap: wrap;
}
#wrap .join2 .method a {
    display: inline-block;
    width: 187px;
    height: 187px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}
#wrap .join2 .method .method_click {
    border: 4px solid var(--companyColor);
    border-radius: 15px;
}
#wrap .join2 .method a img {
    width: 101px;
    height: 101px;
    margin-top: 15px;
}
#wrap .join2 .enter {
    position: absolute;
    display: inline;
    width: 506px;
    height: 312px;
    right: 0;
    top: 110px;
    font-size: 20px;
    font-weight: 700;
}
#wrap .join2 .enter .enter_name {
    margin: 0 0 50px 34.5px;
}
#wrap .join2 .enter .enter_tel {
    margin-bottom: 30px;
}
#wrap .join2 .enter span:nth-of-type(1),
#wrap .join2 .enter .enter_tel span:nth-of-type(4) {
    margin-right: 50px;
}
#wrap .join2 input,
#wrap .join3 input,
#wrap .join2 select,
#wrap .join3 select {
    height: 50px;
    border: none;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
}
#wrap .join2 #username {width: 279px;}
#wrap .join2 #tel1 {width: 84px;}
#wrap .join2 #tel2,
#wrap .join2 #tel3 {width: 113px;}
#wrap .join2 #code_number {width: 182px;}
#wrap .join2 select {
    width: 124px;
    /* color: #999; */
    /* margin-left: 126px; */
    margin: 30px 0 50px 126px;
    font-size: 20px;
}
#wrap .join2 button {
    position: absolute;
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    right: 15px;
}
#wrap .join2 #send_code {
    margin-top: 30px;
}

#wrap .join3 {
    width: 1243px;
    margin: 0 auto;
    /* display: flex; */    /* display: none과 충돌해서 뺌 */
    flex-wrap: wrap;
}
#wrap .join3 form {
    width: 50%;
    float: left;
}
#wrap .join3>p {
    margin: 50px 0 40px 60px;
    width: 1000px;
    font-size: 32px;
    font-weight: 700;
}
#wrap .join3 span {
    color: #E31818;
}
#wrap .join3 form {
    font-size: 24px;
    font-weight: 700;
    line-height: 6px;
}
#wrap .join3 form>span {
    color: #000;
}
#wrap .join3 input {
    margin-bottom: 30px;
}
#wrap .join3 .address1 {
    margin-bottom: 10px;
}
#wrap .join3 form button {
    width: 113px;
    height: 50px;
    background: #eee;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
#wrap .join3 form:nth-of-type(1) button {
    margin-left: 10px;
}
#wrap .join3 form #tel4 {
    width: 86px;
}
#wrap .join3 form #tel5,
#wrap .join3 form #tel6 {
    width: 120px;
}
#wrap .join3 div {
    display: inline-block;
    width: 150px;
}
#wrap .join3 form:nth-of-type(2) div {
    width: 150px;
}
#wrap .join3 div p {
    float: right;
}
#wrap .join3 form #postcode {
    float: right;
}
#wrap .join3 .longbox {width: 280px;}
#wrap .join3 .shortbox {width: 255px;}
#wrap .join3 select {
    width: 141px;
    padding-left: 10px;
    font-size: 20px;
}
#wrap .join3 .address1 {width: 460px; margin-bottom: 15px;}
#wrap .join3 .address2 {
    width: 196px;
    position: relative;
    left: 157px;
    margin-bottom: 45px;
}
#wrap .join3 .address3 {
    width: 120px;
    position: relative;
    right: -170px;
}

#wrap .join4 {

    height: 523px;
    text-align: center;
    margin: 0 auto;
}
#wrap .join4 h3 {
    margin: 50px 0 50px 0;
    font-size: 48px;
}
#wrap .join4 span {
    color: var(--companyColor);
}
#wrap .join4 p {
    font-size: 32px;
    font-weight: 600;
}
#wrap .join4 p:nth-of-type(2) {
    margin: 54px 0 18px 0;
}



/* ====================
    footer
====================*/
footer {
    width: 100%;
    height: 192px;
    z-index: 2;
    box-shadow: 0 -5px 10px rgba(60, 119, 207, 0.1);
}
footer .footerInner {
    position: relative;
    width: 1341px;
    height: 100%;
    margin: 0 auto;
}
footer .footerInner .blogo {
    position: absolute;
    top: 44px;
    width: 154px;
    height: 30px;
}
footer .footerInner .blogo img {
    height: 40px;
}
footer .footerInner p,
footer .footerInner span,
footer .footerInner span a {
    position: relative;
    color: #808080;
    font-size: 19px;
}
footer .footerInner p {
    position: relative;
    top: 98px;
}
footer .footerInner p span {
    top: 0;
}
footer .footerInner span {
    position: relative;
    top: 103px;
    font-weight: 700;
}
footer .footerInner span a {
    position: relative;
}
footer .footerInner .footer_menu {
    position: absolute;
    top: 47px;
    right: 0;
}
footer .footerInner .footer_menu a {
    margin-left: 56px;
    font-size: 18px;
    color: var(--companyColor);
}
footer .footerInner .footer_menu a:nth-of-type(3) {
    font-weight: 700;
}
footer .footerInner .app {
    position: absolute;
    top: 107px;
    right: 169px;
}
footer .footerInner select {
    position: absolute;
    width: 160px;
    height: 37px;
    border-radius: 5px;
    top: 107px;
    right: 0;
    border: 1px solid #a6a6a6;
    font-size: 18px;
    color: #a6a6a6;
}
footer .footerInner select option {
    margin-left: 50px;
}