@charset "utf-8";

/* font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@font-face {
    font-family: 'NEXEN TIRE';
    src: url('../font/NEXEN_TIRE_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* color */
:root {
    --companyColor : #3C77CF;
}

/* reset */
* {margin: 0;padding: 0;}

a {text-decoration: none;}
li {list-style: none;}
p, span, a, h1, h2, h3, h4, h5, h6, td, th, li {color:#000; font-family: 'pretendard';}


#wrap header {
    width: 100%;
    position: fixed;
    top: 0;left: 0;
    z-index: 999999;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(60, 119, 207, 0.1);
}

/* ====================
    header
====================*/

.headerInner {
    width: 1920px; height: 96px;
    display: flex;
    margin: 0 auto;
}

.headerIcon_container {
    width: 1342px; height: 96px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    padding-top: 25px;
    box-sizing: border-box;
}

.left_icon button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.left_icon p {
    float: right;
    font-size: 25px;
    line-height: 40px;
    margin-left: 20px;
    color: var(--companyColor);
}

/* side-side-bar */
.side-bar {
    width: 358px;
    height: 1080px;
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-358px);
}

.side-bar.active {
    transform: translateX(0); /*사이드바가 화면에 나타남*/
}

.side-bar-header {
    height: 100px;
}

#side-closeToggle{
    width: 40px; height: 40px;
    position: absolute;
    top: 15px;
    right: 28px;
    padding-top: 5px;
}

.mainMenu {
    margin: 0 0 0 46px;
}
.mainMenu li>a {
    width: 268px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}
.mainMenu li>a .title{
    font-size: 28px;
    letter-spacing: -2px;
    display: flex;
    gap: 10px;
}

.subMenu {
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

/* 서브메뉴가 열릴 때 */
.accordion-item.active .subMenu {
    display: block;
}

.subMenu li>a {
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    background-color: rgba(60, 119, 207, 0.2);
    padding: 18px 0 18px 50px;
    width: 268px;
    box-sizing: border-box;
}

.subMenu li a:hover {
    background-color: #2c6dcd;
    color: #fff;
}

.subside-bar li>a img {
    width: 24px;
}

.headerIcon_container .logo {
    position: absolute;
    top: 50%;
    padding-top: 5px;
    left: 50%;
    transform: translate(-50%, -50%); /* 요소 크기의 절반만큼 이동 */
}

.headerIcon_container .logo img {
    height: 70px;
}

.right_icon {
    display: flex;
}

.headerInfo {
    display: flex;
    gap: 15px;
}

.mypage {
    display: flex;
    gap: 8px;
}

.mypage img {
    width: 41px;
    height: 41px;
    padding-top: 5px;
}

.money {
    font-size: 24px;
    line-height: 41px;
    color: var(--companyColor);
    display: flex;
    gap: 5px;
    padding-top: 5px;
}

.money span {
    color: var(--companyColor);
}

.bell {
    color: #223E94;
    padding-top: 8px;
    position: relative;
}
.bell .noticePopup {
    display: none;
}
.bell:hover .noticePopup,
.bell:focus .noticePopup {
    position: absolute;
    top: 42px;right: -44px;
    display: block;
}


.log {
    display: flex;
    background-color: var(--companyColor);
    border-radius: 10px;
    width: 92px;
    height: 36px;
    justify-content: center;
    align-items: center;
    padding: 8px 11px;
}

.log a {
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
}





/* ====================
    main
====================*/
#wrap main {
    width: 1340px;
    height: 100%;
    margin: 121px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h2 {
    font-size: 60px;
    line-height: 70px;
    font-family: 'NEXEN TIRE', sans-serif;
    margin: 50px 103px 50px;
}

main .IdPw {
    width: 376px;
    height: 105px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main .IdPw > div {
    height: 50px;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

main .IdPw > div > input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    color: #808080;
    font-size: 20px;
    line-height: 20px;
}

main .stayLogin {
    width: 376px;
    display: flex;
    gap: 5px;
    margin: 15px 0;
}

main .stayLogin input {
    width: 20px;
    height: 20px;
    color: #808080;
}

main .stayLogin p {
    font-size: 20px;
    line-height: 20px;
    color: #808080;
}

main .loginBtn {
    color: #fff;
    width: 376px;
    height: 50px;
    background-color: var(--companyColor);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
}

main .loginSub{
    width: 376px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.loginSub>a, 
.loginSub .find>a,
.loginSub .find>span {
    font-size: 20px;
    line-height: 20px;
    color: #808080;
    cursor: pointer;
}

main .snsLogin {
    margin-top: 50px;
    margin-bottom: 110px;
    width: 292px;
    height: 64px;
    justify-content: space-between;
    display: flex;
}

main .snsLogin>a img {
    width: 64px;
    height: 64px;
}




/* ====================
    footer
====================*/
footer {
    width: 100%;
    height: 192px;
    z-index: 2;
    box-shadow: 0 -5px 10px rgba(60, 119, 207, 0.1);
}
footer .footerInner {
    position: relative;
    width: 1341px;
    height: 100%;
    margin: 0 auto;
}
footer .footerInner .blogo {
    position: absolute;
    top: 44px;
    width: 154px;
    height: 30px;
}
footer .footerInner .blogo img {
    height: 40px;
}
footer .footerInner p,
footer .footerInner span,
footer .footerInner span a {
    position: relative;
    color: #808080;
    font-size: 19px;
}
footer .footerInner p {
    position: relative;
    top: 98px;
}
footer .footerInner p span {
    top: 0;
}
footer .footerInner span {
    position: relative;
    top: 103px;
    font-weight: 700;
}
footer .footerInner span a {
    position: relative;
}
footer .footerInner .footer_menu {
    position: absolute;
    top: 47px;
    right: 0;
}
footer .footerInner .footer_menu a {
    margin-left: 56px;
    font-size: 18px;
    color: var(--companyColor);
}
footer .footerInner .footer_menu a:nth-of-type(3) {
    font-weight: 700;
}
footer .footerInner .app {
    position: absolute;
    top: 107px;
    right: 169px;
}
footer .footerInner select {
    position: absolute;
    width: 160px;
    height: 37px;
    border-radius: 5px;
    top: 107px;
    right: 0;
    border: 1px solid #a6a6a6;
    font-size: 18px;
    color: #a6a6a6;
}
footer .footerInner select option {
    margin-left: 50px;
}



